.navbar {
    background-color: darkblue;
}
.containerfull{
    width: 100%;
}
.rowfull{
    width: 100%;
}
.col {
    padding: 0;
}
.welcomecard{
    padding-top: 25px;
    padding-bottom: 15px;
}
.welcomecard h1 {
    color: black;
}
.containerform .card-title {
    text-align: center;
}
footer {
    background-color: darkblue;
}